.explorer .p-panel-content {
    padding: 0px;
}

.explorer .p-splitter {
    border: none;
}

.explorer-node{
    background-color: "blue";
}

.testing {
    background-color: "#292C33";
    height: 100px;
    width: 200px;
}

.selected {
    background-color: blue;
}