@import '../../Constants.scss';

.home-hero-section-card-container .p-card {
    max-width: 350px;
}

.home-hero-section-card-container .p-card-content {
    flex-grow: 1;

}

.home-hero-section-card-container .p-card-body {
    height: calc(100% - 15rem);
    display: flex;
    flex-direction: column;
}

.home-hero-section-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 15px;
}

@media only screen and (max-width: 1024px) {
    .home-hero-section-card-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
    }
}

.home-hero-section-background-mobile {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .home-hero-section-background-mobile {
        display: block;
    }

    .home-hero-section-background {
        display: none;
    }
}


