$app-header-height: 50px;
$app-box-shadow: 0 0.2rem 0.5rem 0 rgba(60, 60, 160, 0.15) !important;

$app-color-1: white;
$app-color-2: #377dff;
$app-color-3: #82976e;
$app-color-4: #f3fcea;
$app-color-5: #f6edd9;
$app-border-color: #DEE2E6;
